@import "susy";
   
   $total-columns: 12;
   $column-width: 3em;
   $gutter-width: 1em;
   $grid-padding: $gutter-width;
   $border-box-sizing: true;

.container{
   	@include container;
      // @include susy-grid-background;
}

.span12{
    // @include susy-grid-background;
    width: columns(5); 
   margin: 10rem auto 0 auto;
   @media (max-width: 600px) {
      width: columns(12);
   }
}

.note{
	@include span-columns(9, 12);
   @media (max-width: 600px) {
         @include span-columns(12, 12); 
   }

}

.recent{
	@include span-columns(3 omega, 12);
   @media (max-width: 600px) {
         @include span-columns(12, 12); 
   }

}

.formRow{
	@include span-columns(5 omega, 12);
	@include suffix(3.5, 12);
   @media (max-width: 600px) {
      @include span-columns(7 omega, 12);
      @include suffix(2.5, 12);

      
   }

}

.center{
   text-align: center;
}