@import "compass/reset";
@import "_settings.scss";
@import "_layout.scss";
@import "mixins.scss";
@import "_button.scss";

@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

body{
	
	font-family: $light;
	background: url(/images/note.jpg) fixed;
	background-size: cover;
}
h1{
	color: #DFD5BF;
	font-size: 5rem;
	font-family: $bebas;
	text-align: center;
	text-shadow: $longshadow;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;

	}
h2{
	color: $invert;
	font-family: $bebas;
	font-size: 2rem;
	padding: 0.75rem 1rem;
}

a{
	color: lighten($invert, 15%);
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
}
.sign{
	margin-top: 10rem;
}
.topLeft, .topRight{
	position: absolute;
	top: 1rem;
	font-size: 1.5rem;
	@media (max-width: 600px) {
		font-size: 1rem;
		
	}
}
.topLeft{
	right: 2rem;
}
.topRight{
	padding: 1rem;
	left: 2rem;
}

nav{
	// @include boxWidthShadow();
	padding: 0.5rem;
	ul{
		text-align: center;
		list-style: none;
		li{
			cursor: pointer;
			margin: 0.5rem;
			display: inline-block;
		}
	}
}
.box{
	@include boxWidthShadow();
	padding-bottom: 1rem;
	margin-top: 1rem;

}
.main{
	a{
		margin:1rem;
	}
}
.note{
	position: relative;
	background: #dedede;
	min-height: 15rem;
	box-sizing: border-box;
	border: 0.5rem $mainbg solid;
	box-shadow: 0px 4px 1px darken($mainbg, 50%);
	margin: 1rem 0;
	border-radius: 0.5rem;
	
	.noteContent{
		padding: 0 1rem 1rem 1rem;
		margin-bottom: 3rem;
	}
	a{
		position: absolute;
		bottom: 0;
	}
	.edit{
		left: 5rem;
	}
	.timestamp{
		padding: 0 1rem 1rem 1rem;
		font-style: italic;
		font-size: 0.75rem;
	}
}
.recent{
	position: relative;
	@include boxWidthShadow(15rem);
	margin: 1rem 0;
	li{
		padding: 0 1rem 1rem 1rem;
	}
	a{
		margin-left: 0.25rem;
	}
}

.dateIcon{
	margin-top: 0.1rem;
	width: 1rem;
}
label{
	font-size: 1.5rem;
}

.feedback-input {
	font-size: 18px;
	line-height: 22px;
	background-color: #fbfbfb;
	margin-bottom: 10px;
	width:100%;
	outline: none;
  	padding: 3px 10px;
  	&:focus{
  	outline: none;
  }
}
.login, .signup{
	opacity:0.9;
	color:black;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  	font-weight:400;
	font-size: 18px;
	line-height: 22px;
	resize: none;
	border: 2px solid darken($mainbg, 10%);
	background-color: #DFD5BF;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	@include box-sizing(border-box); 
}

.login:focus, .signup:focus{
	box-shadow: 0;
	border: 2px solid darken($mainbg, 50%);
	outline: none;
  	padding: 13px 13px 13px 54px;
}

#user, #user:focus{
	@include icon(url(../images/man.png));
}

#keypass, #keypass:focus{
	@include icon(url(../images/password.png));
}
#email, #email:focus{
	@include icon(url(../images/mail.svg));
}
#code, #code:focus{
	@include icon(url(../images/code.png));
}

.smaller{
	font-size: 1rem;
}

.error{
	margin: 1rem auto;
	text-align: center;
	width:50%;
	padding: 1em;
	border-radius: 10px;
	color: lighten(red, 35%);
	background: darken(red, 15%);
}

.allBox{
	@include boxWidthShadow(15rem);
	margin: 1rem auto;
	padding-bottom: 1rem;
	li{
		padding: 0.25rem 1rem;
		cursor: pointer;
	}
}
.removeBox{
	@include boxWidthShadow(10rem);
	margin: 1rem auto;

}
